{% extends "base.html" %}

{% block content %}

<!-- Search bar -->
<div class="row mt-3">
  <div class="col-md-2 offset-md-1 pt-1">
    {% if search_term %}
      <p class="mt-1">Search results for "{{search_term}}":</p>
    {% else %}
      <p class="mt-1">Showing all products:</p>
    {% endif %}
  </div>
  <div class="col-md-3 offset-md-5">
    <form action="{{ url_for('products.search', page='0') }}" method="POST">
      <div class="input-group">
        <input type="text" name="search_term" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </form>
    </div>
</div>

<!-- Dropdown for sort options -->
<div class="dropdown offset-md-9">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by: {{ sort_by }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% set sort_options = ['Default', 'Price: Low to High', 'Price: High to Low'] %}
    {% for option in sort_options %}
      {% if option != sort_by %}
        <a class="dropdown-item" href="{{ url_for('products.cards', page=page, search_term=search_term, sort_by=option) }}">{{ option }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Content cards -->
{% for product_row in avail_products | batch(4, '&nbsp;') %}
<div class="row justify-content-center">
    {% for product in product_row %}
    {% if product is not string %}
    <div class="card m-4 col-md-2 p-0" style="width:300px">
      <img class="card-img-top" src="{{product.img_url}}" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{product.name}}</h4>
        <p class="card-text">Price: {{product.price}}<span class="badge rounded-pill bg-info text-light mx-4">{{product.category}}</span></p>
        <!-- link to individual product page -->
        <a href="{{ url_for('products.product', id=product.id) }}" class="btn btn-primary stretched-link">View</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

<!-- Badly coded pagination menu that needs to be updated -->
<nav class = "offset-md-8" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{{url_for('products.cards', page = [curr_page - 1, 0] | max, search_term = search_term)}}">Previous</a></li>
    {% set max_num_pages = [-(num_products // -products_per_page) - 1, 5] | min %}
    {% for n in range(max_num_pages) %}
      <li class="page-item"><a class="page-link" href="{{ url_for('products.cards', page = n, search_term = search_term) }}">{{n}}</a></li>
    {% endfor %}
    {% if max_num_pages < -(num_products // -products_per_page) %}
      <li class="page-item"><a class="page-link">...</a></li>
      <li class="page-item"><a class="page-link" href="{{url_for('products.cards', page = (num_products//products_per_page) - 1, search_term = search_term)}}">{{(num_products//products_per_page) - 1}}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="{{url_for('products.cards', page = [curr_page + 1, (num_products/products_per_page) | int - 1] | min, search_term = search_term)}}">Next</a></li>
    <li class="page-item mx-4 my-1">Page {{'{curr} / {total}'.format(curr=curr_page, total=(num_products/products_per_page) | int - 1)}}</li>
  </ul>
</nav>
{% endblock %}
