{% extends "base.html" %}

{% block content %}

{% for product_row in avail_products | batch(4, '&nbsp;') %}
<div class="row justify-content-center">
    {% for product in product_row %}
    {% if product is not string %}
    <div class="card m-4" style="width:300px">
      <img class="card-img-top" src="{{product.img_url}}" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{product.name}}</h4>
        <p class="card-text">Price: {{product.price}}<span class="badge rounded-pill bg-info text-light mx-4">{{product.category}}</span></p>
        <!-- link to individual product page -->
        <a href="{{ url_for('products.product', id=product.id) }}" class="btn btn-primary stretched-link">View</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

<div id="demo"></div>

<nav class = "offset-md-7" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{{'/cards?page={n}'.format(n = [curr_page - 1, 0] | max)}}">Previous</a></li>
    {% set max_num_pages = [-(num_products // -products_per_page), 5] | min %}
    {% for n in range(max_num_pages) %}
      <li class="page-item"><a class="page-link" href="{{'/cards?page={n}'.format(n = n)}}">{{n}}</a></li>
    {% endfor %}
    {% if max_num_pages < -(num_products // -products_per_page) %}
      <li class="page-item"><a class="page-link">...</a></li>
      <li class="page-item"><a class="page-link" href="{{'/cards?page={n}'.format(n = (num_products//products_per_page) - 1)}}">{{(num_products//products_per_page) - 1}}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="{{'/cards?page={n}'.format(n = [curr_page + 1, (num_products/products_per_page) | int - 1] | min)}}">Next</a></li>
    <li class="page-item mx-4 my-1">Page {{'{curr} / {total}'.format(curr=curr_page, total=(num_products/products_per_page) | int - 1)}}</li>
  </ul>
</nav>
}

{% endblock %}
