{% extends "base.html" %}

{% block content %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#purchases').DataTable({
            "order": [[4, "desc"]]
        });
    });
</script>
{% endblock %}

<br><br>

<h2>{{firstname}}'s Purchases</h2>
<div class="col-md-5">
    <form action="{{ url_for('users.get_all_purchases_less_than_max')}}" method="POST">
        <div class="input-group">
            <input type="decimal" name="max" class="form-control" placeholder="Maximum Price">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="col-md-5">
    <form action="{{ url_for('users.get_all_purchases_less_than_items')}}" method="POST">
        <div class="input-group">
            <input type="number" name="max" class="form-control" placeholder="Max. Number of Items">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<table id="purchases" class='table table-hover table-bordered'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Purchase ID</th>
            <th scope="col">Total Price</th>
            <th scope="col">Number of Items</th>
            <th scope="col">Order Status</th>
            <th scope="col">Time Purchased</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in get_all_purchases %}
        <tr>
            <td><a href="{{ url_for('cart.get_order_page', order_number = purchase.id) }}">{{purchase.id - 4}}</a>
            </td>
            <td>{{"${:.2f}".format(purchase.total_price)}}</td>
            <td>{{purchase.num_of_items}}</td>
            <td>{{purchase.order_status}}</td>
            <td>{{purchase.time_purchased}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}