{% extends "base.html" %}

{% block content %}

<br><br>

<!-- text box for input and button for search for top k most expensive products. submit takes user to /most_expensive -->
<h2>Search for the top k most expensive products:</h2>
<form action="{{ url_for('products.k_most_expensive') }}" method="POST">
  <div class="form-group">
    <label for="k">k</label>
    <!-- only allow positive integers -->
    <input type="number" class="form-control" id="k" name="k" 
    step="1" min="1" max="9223372036854775807" onkeypress="return event.charCode >= 48 && event.charCode <= 57" onkeydown="return event.keyCode !== 69" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br><br>

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row"><a href="{{ url_for('products.product', id=product.id) }}">{{product.id}}</a></th>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{"${:.2f}".format(product.price)}}</td>
        <td><img src="{{product.img_url}}" alt="product image" width="100" height="100"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
