{% extends "base.html" %}

{% block content %}


<div class="row my-5">
    <div class="col-md-5 text-center">
      <img src={{product.img_url}} class='h-75 w-75' alt='Product Image' />
    </div>
    <div class="col-md-5">
      <h1>{{product.name}}</h2>
      <p class="text-wrap mb-4">
        {{product.description}}
      </p>
      <h3>Category</h3>
      <span class="badge rounded-pill bg-info text-light mb-4">{{product.category}}</span>
      <h3>Price</h3>
      <h5>{{"$" + (product.price | string) if (product.price == product.price) else 'Unavailable'}}</h5>
      <br>
      {% if product.stock == 0 %}
          <h3 class="text-danger">Out of stock</h3>
      {% else %}
        <!-- insert add to cart and stock per seller here -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Seller</th>
              <th scope="col">Price</th>
              <th scope="col">Stock</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
        {% for seller in sellers %}
        <!-- Table containg seller uid, price, stock, and an add to cart with quantity form -->
          <tr>
            <th scope="row"><a href="{{ url_for('sellerRatings.get_five_seller_feedbacks', id=seller.uid) }}">{{seller.uid}}</a></th>
            <td>{{"$" + (seller.price | string) if (seller.price == seller.price) else 'Unavailable'}}</td>
            <td>{{seller.count}}</td>
            <td>
              <form>
                <div class="input-group">
                  <!-- hidden inputs for pid, sid, price -->
                  <input type="hidden" name="pid" value={{product.pid}}>
                  <input type="hidden" name="sid" value={{seller.sid}}>
                  <input type="hidden" name="price" value={{seller.price}}>
                  <label for="quantity">Quantity: </label>
                  <input class="form-control ml-1 mr-2" type="number" name="quantity" min="1" max={{seller.count}}>
                  <span class="input-group-btn">
                    <button class="btn btn-warning" type="submit">Add to Cart</button>
                  </span>
                </div>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
      
    </div>
  </div>
</div>

{% endblock %}
