{% extends "base.html" %}

{% block content %}

{% if get_reviews %}
        <h4>My Product Reviews</h4>
        <h6> </h6>
        <table id="productRatings" class='table table-hover table-bordered'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product ID <h6></h6> (click link for product)</th>
                    <th scope="col">Rating content</th>
                    <th scope="col">Stars</th>
                    <th scope="col">Submitted</th>
                </tr>
            </thead>
            <tbody>
                {% for review in get_reviews%}
                <tr>
                    <td><a href="{{ url_for('products.product', id = review.pid) }}">{{review[3]}}</a>
                    </td>
                    <td>{{review[5]}}</td>
                    <td>{{review[4]}}</td>
                    <td>{{review[6]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        You have not written any product reviews.
        {% endif %}

        {% if get_sreviews %}
        <h4>My Seller Reviews</h4>
        <h6> </h6>
        <table id="sellerRatings" class='table table-hover table-bordered'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Seller ID <h6></h6> (click link for seller)</th>
                    <th scope="col">Seller first name</th>
                    <th scope="col">Seller last name</th>
                    <th scope="col">Rating content</th>
                    <th scope="col">Stars</th>
                    <th scope="col">Submitted</th>
                </tr>
            </thead>
            <tbody>
                {% for review in get_sreviews%}
                <tr>
                    <td><a
                        href="{{ url_for('sellerRatings.get_five_seller_feedbacks', sid = review[1], name = review[5] + ' ' + review[6] , you=current_user.id) }}">{{review[1]}}</a>
                    </td>
                    <td>{{review[5]}}</td>
                    <td>{{review[6]}}</td>
                    <td>{{review[3]}}</td>
                    <td>{{review[2]}}</td>
                    <td>{{review[4]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}

        You have not reviewed any sellers.

        {% endif %}

{% endblock %}