{% extends "base.html" %}

{% block content %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#products').DataTable();
    });
  </script>
{% endblock %}

<br><br>

<h2>{{ (seller_inventory | uid) }} inventory:</h2>
<table id="products" class='table table-hover table-bordered'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {% for item in seller_inventory%}
      <tr>
        <th scope="row"><a href="{{ url_for('products.product', id=product.id) }}">{{product.id}}</a></th>
        <td>{{item.pid}}</td>
        <td>{{item.quantity}}</td>
        <!-- <td>{{"${:.2f}".format(product.price)}}</td> -->
        <!-- <td><img src="{{product.img_url}}" alt="product image" width="100" height="100"></td> -->
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
