{% extends "base.html" %}

{% block content %}

<h1> Update Balance: ${{ balance }} </h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.withdraw.label }} <br />
        {{ form.withdraw(size = 32) }}<br />
        {% for error in form.withdraw.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.top.label }} <br />
        {{ form.top(size = 32) }}<br />
        {% for error in form.top.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}