{% extends "base.html" %}

{% block content %}

{% block scripts %}

{% endblock %}

<br><br>
<!-- Show the updated rating -->
<table id="sellerRatings" class='table table-hover table-bordered'>
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Seller</th>
        <th scope="col">Stars out of five</th>
        <th scope="col">Rating content</th>
        <th scope="col">Submission date</th>
      </tr>
    </thead>
    
      <tbody>
        
          {% for rating in new_feed%}
            
            <h5>Your updated rating</h5>
            <tr>
              
              <td>{{seller_name}}</td>
              <td>{{rating.starsOutOfFive}}</td>
              <td>{{rating.ratingContent}}</td> 
              <td>{{rating.submissionDate}}</td>
            </tr>
            
              
            
      {% endfor %}
        
      </tbody>
  </table>

<!-- Redirect back to the seller rating's summary page -->
<div>Redirecting back to home page in 3 seconds...</div>
<meta http-equiv="refresh" content="3;{{ url_for('sellerRatings.get_five_seller_feedbacks', sid = sid, name = seller_name, you=current_user.id) }}" /> 


{% endblock %}