{% extends "base.html" %}

{% block content %}

<div class="row my-5">
    <div class="col-md-3">
        <h1>{{ name }}</h1>
        <h3>Account ID: {{ id }}</h3>
        <p>Email: {{ email }}</p>
        <p>Location: {{ location }}</p>
        <p>Balance: {{ balance }}</p>
        <a href="{{ url_for('users.get_all_purchases') }}" type="button" class="btn btn-light">My purchases</a>
        <a href="{{ url_for('users.update_info') }}" type="button" class="btn btn-light">Update my information</a>
        <a href="{{ url_for('users.update_balance') }}" type="button" class="btn btn-light">Update balance</a>
        <a href="{{ url_for('products.new') }} " type="button" class="btn btn-light">Sell with StuffHub</a>
        <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
        {% if get_inventory %}
        <a href="{{ url_for('sellers.seller_inventory', sid = id) }}" type="button" class="btn btn-light">My
            Inventory</a>
        <a href="{{ url_for('sellerRatings.get_five_seller_feedbacks', sid = id, name = name, you=id) }}" type="button"
            class="btn btn-light">Seller reviews for me</a>
        <a href="{{ url_for('productRatings.get_personal_pRatings', uid=current_user.id) }}" type="button" class="btn btn-light">Update your product feedbacks</a> <!-- change uid to current_user.id -->
        <a href="{{ url_for('sellerRatings.get_personal_sRatings', uid=current_user.id) }}" type="button" class="btn btn-light">Update your seller feedbacks</a> <!-- change uid to current_user.id -->
        <a href="{{ url_for('sellers.seller_history') }} " type="button" class="btn btn-light">Seller History</a>
        {% endif %}
        <h6> </h6>
        <!-- Search bar for users-->
        <form action="{{ url_for('users.userSearch', public = 'private')}}" method="POST">
            <div class="input-group">
                <input type="number" name="search_term" class="form-control" placeholder="Search Users (enter user ID)">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <h6> </h6>
        <h5> {{error}}</h5>
        {% if get_reviews %}
        <h4>My Reviews</h4>
        <h6> </h6>
        <table id="productRatings" class='table table-hover table-bordered'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product ID <h6></h6> (click link for product)</th>
                    <th scope="col">Rating content</th>
                    <th scope="col">Stars</th>
                    <th scope="col">Submitted</th>
                </tr>
            </thead>
            <tbody>
                {% for review in get_reviews%}
                <tr>
                    <td><a href="{{ url_for('products.product', id = review.pid) }}">{{review.pid}}</a>
                    </td>
                    <td>{{review.ratingContent}}</td>
                    <td>{{review.starsOutOfFive}}</td>
                    <td>{{review.submissionDate}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}