{% extends "base.html" %}

{% block content %}

<div class="row my-5">
    <div class="col-md-3">

        {% if rating != None %}
        {% set fraction = rating % 1 %}
        {% for i in range(1, 6) %}
          {% if rating >= i %}
            <span class="bi bi-star-fill"></span>
          {% elif rating >= i - 1 %}
            {% if fraction >= 0.75 %}
              <span class="bi bi-star-fill"></span>
            {% elif fraction >= 0.25 and fraction < 0.75 %}
              <span class="bi bi-star-half"></span>
            {% else %}
              <span class="bi bi-star"></span>
            {% endif %}
          {% else %}
            <span class="bi bi-star"></span>
          {% endif %}
        {% endfor %}
        {{ number_of_reviews }}
        {% else %}
        No Reviews
        {%endif%}
        <h1>{{ name }}</h1>
        <h3>Account ID: {{ id }}</h3>
        <!-- If the user has an inventory, displays information relevant to sellers (e.g., email, address) -->
        {% if get_inventory %}
        <p>Email: {{ email }}</p>
        <p>Address: {{ address }}</p>
        <!-- Displays seller-relevant buttons like seller analytics and seller feedbacks -->
        <a href="{{ url_for('sellers.seller_analytics',sid=id) }} " type="button" class="btn btn-light">Seller Analytics</a>
        <a href="{{ url_for('sellerRatings.get_five_seller_feedbacks', sid = id, name = name, you=id) }}" type="button"
            class="btn btn-light">Seller reviews for {{firstname}}</a>
        {% endif %}
        <h6> </h6>
        <!-- Search bar for other users' public views -->
        <form action="{{ url_for('users.userSearch', public = 'public')}}" method="POST">
            <div class="input-group">
                <input type="number" name="search_term" class="form-control" placeholder="Search Users (enter user ID)">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <br></br>
        <!-- If there are reviews to display, displays reviews for the user -->
        {% if get_reviews %}
        <h4>{{firstname}}'s Reviews</h4>
        <h6> </h6>
        <!-- Constructs table for review details -->
        <table id="productRatings" class='table table-hover table-bordered'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product ID <h6></h6> (click link for product)</th>
                    <th scope="col">Rating content</th>
                    <th scope="col">Stars</th>
                    <th scope="col">Submitted</th>
                </tr>
            </thead>
            <tbody>
                <!-- For each review, displays ID of corresponding product, review content, number of stars, and time of submission -->
                {% for review in get_reviews%}
                <tr>
                    <!-- Enables user to click on ID of product to take them to corresponding product page -->
                    <td><a href="{{ url_for('products.product', id = review.pid) }}">{{review.pid}}</a>
                    </td>
                    <td>{{review[5]}}</td>
                    <td>{{review[4]}}</td>
                    <td>{{review[6]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h6> </h6>
        {% endif %}
    </div>
</div>

{% endblock %}