{% extends "base.html" %}

{% block content %}

<div class="row my-5">
    <div class="col-md-3">
        <h1>{{ name }}</h1>
        <h3>Account ID: {{ id }}</h3>
        {% if get_inventory %}
        <p>Email: {{ email }}</p>
        <p>Address: {{ address }}</p>
        <a href="{{ url_for('sellerRatings.get_five_seller_feedbacks', sid = id, name = name, you=id) }}" type="button"
            class="btn btn-light">Seller reviews for {{firstname}}</a>
        {% endif %}
        <h6> </h6>
        <!-- Search bar for users-->
        <form action="{{ url_for('users.userSearch', public = 'public')}}" method="POST">
            <div class="input-group">
                <input type="number" name="search_term" class="form-control" placeholder="Search Users (enter user ID)">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <br></br>
        {% if get_reviews %}
        <h4>{{firstname}}'s Reviews</h4>
        <h6> </h6>
        <table id="productRatings" class='table table-hover table-bordered'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product ID <h6></h6> (click link for product)</th>
                    <th scope="col">Rating content</th>
                    <th scope="col">Stars</th>
                    <th scope="col">Submitted</th>
                </tr>
            </thead>
            <tbody>
                {% for review in get_reviews%}
                <tr>
                    <td><a href="{{ url_for('products.product', id = review.pid) }}">{{review.pid}}</a>
                    </td>
                    <td>{{review.ratingContent}}</td>
                    <td>{{review.starsOutOfFive}}</td>
                    <td>{{review.submissionDate}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h6> </h6>
        {% endif %}
    </div>
</div>

{% endblock %}